<!DOCTYPE html>
<html>

<head>
    <title>Photos!</title>
    <style>
        img {
            max-height: 720px;
            max-width: 720px;
        }
    </style>
</head>

<body>
    <div id="root">
        <h1 id="path"><a href="..">{{ name }}</a></h1>
        {% for album in albums %}
            <p><a href="./{{ album.name }}">{{ album.name }}</a></p>
        {% endfor %}
        <hr>
        {% for image in images %}
            <p><img src="./{{ image }}"></p>
        {% endfor %}
    </div>
</body>

</html>